# Telegram API
TELEGRAM_API_ID=
TELEGRAM_API_HASH=

# Main Bot
TELEGRAM_BOT_TOKEN=

# Remote Admin Bot
TELEGRAM_REMOTE_BOT_TOKEN=
TELEGRAM_REMOTE_ADMIN_IDS=

# Optional
TELEGRAM_BACKUP_CHANNEL=
TELEGRAM_2FA_VAULT_KEY=

# Storage
TELEGRAM_DATA_DIR=

# Telegram Device
TELEGRAM_DEVICE_MODEL=TelegramMaster Serv00
TELEGRAM_SYSTEM_VERSION=Linux

# Optional Google Drive
GOOGLE_DRIVE_ENABLED=0
GOOGLE_DRIVE_FOLDER_ID=
GOOGLE_SERVICE_ACCOUNT_JSON=
GOOGLE_SERVICE_ACCOUNT_JSON_B64=
GOOGLE_DRIVE_SYNC_INTERVAL=60
